@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

:root {
  --color-primary: #222f5a;
  --color-primary-light: #068dc9;
  --color-grey-light: #808080;
  --color-grey-lightest: #ebebeb;
  --color-white: #fff;
  --color-black: #000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  padding: 0;
}

/* TRACKING BAR */
.tracking-bar {
  height: 5rem;
  display: block;
  position: relative;
  margin-bottom: 1rem;
}

.tracking-bar__input {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1.6rem 4.1rem 1.5rem 2.5rem;
  border: solid 2px #222f5a;
  border-radius: 2.5rem 2.5rem 0.5rem 2.5rem;
  outline: none;
  transition: all 0.3s;
  font-family: 'Rubik';
}

.tracking-bar__input::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #222f5a;
}

.tracking-bar__input::-moz-placeholder {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #222f5a;
}

.tracking-bar__input::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #222f5a;
}

.tracking-bar:hover .tracking-bar__input {
  border-color: #222f5a;
}

.tracking-bar__search-btn {
  border-radius: 2.5rem 2.5rem 0.5rem 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 16rem;
  height: 100%;
  border: none;
  color: #fff;
  transition: all 0.3s;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    135deg,
    #222f5a 11.05%,
    #145d91 74.37%,
    #068dc9 100%
  );
}
/* .tracking-bar__input:placeholder-shown + .tracking-bar__search-btn {
  background-color: #808080;
  background-image: none;
} */

.tracking-bar:hover .tracking-bar__search-btn {
  background-color: #068dc9;
}

/* LOCATION TAB */
.location-tab {
  display: grid;
  width: 100%;
  grid-gap: 1.5rem;
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 1rem;
  background: linear-gradient(to top, #afafaf 1px, transparent 1px) 0 100%;
  padding-bottom: 2.2rem;
}

.location-tab:hover {
  background-color: #f3f3f3;
}

.location-tab__subtitle {
  color: #808080;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.35px;
  margin-bottom: 7px;
  padding-top: 6px;
  padding-left: 3px;
}

.location-tab__code {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.location-tab__code-text {
  font-size: 20px;
  line-height: 30px;
  margin-right: 2rem;
  color: #222f5a;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.location-tab__code-copy-btn {
  cursor: pointer;
  background: none;
  color: var(--color-grey-light);
  display: flex;
  border: none;
  padding: 0.5rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 15px;
  line-height: normal;
  letter-spacing: -0.35px;
}
.location-tab__code-copy-btn span{
  margin-right: 5px;
}
.location-tab__heading {
  color: #222f5a;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: -0.6px;
}

.location-tab__location {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.6px;
  color: #808080;
  padding-bottom: 0.5rem;
}

.location-tab__duration {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.6px;
  color: #808080;
}

.location-tab__image img {
  width: 100%;
  height: 13rem;
  display: block;
  object-fit: cover;
  border-radius: 1.5rem;
}

/* LOCATION TAB ACTIONS */
.location-tab__actions {
  display: flex;
}

.location-tab__actions > *:not(:last-child) {
  margin-right: 1.5rem;
}
.svg-margin{
  margin-left: -5px;
  margin-right: -5px;
}

.location-tab__actions-btn {
  font: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  background: none;
  color: var(--color-grey-light);
  cursor: pointer;
  padding: 0.25rem;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.icon-group{
  position: relative;
}
.icon-group span{
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 20px;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #068dc9;
  visibility: hidden;
  text-align: center;
}
.icon-group:hover span{
  visibility: visible !important;
}

/* LOCATION DETAILS */
.location-details {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.location-details__image img {
  width: 100%;
  height: 20rem;
  border-radius: 1.5rem;
  margin: 1.2rem 0;
  object-fit: cover;
}

.locatoin-details__icons {
  margin-top: 5rem;
  display: grid;
  width: 100%;
  grid-template-columns: 0fr 20rem;
  grid-gap: 1rem;
}

.locatoin-details__icons div {
  margin: 0.5rem 0;
  width: 20rem;
  cursor: pointer;
  display: flex;
}

.locatoin-details__icons span {
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: #068dc9;
  font-weight: bold;
  padding-left: 1rem;
}

.location-details__back {
  margin: 1rem 2rem 0.3rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.location-details__back img {
  height: 16px;
}

/* DROPDOWN */
.dropdown__container {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to top, #afafaf 1px, transparent 1px) 0 100%;
}

.dropdown {
  position: relative;
  height: 4rem;
}

/* @media screen and (max-width: 790px) {
  .dropdown:first-of-type {
    padding-left: 1rem;
  }
} */

.dropdown__btn {
  outline:none;
  border: none;
  background-color: var(--color-white);
  font: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
  border-radius: 0.5rem;
}

.dropdown__btn--active {
  z-index: 2000;
}

.dropdown__icon {
  width: 2rem;
  height: 2rem;
  line-height: 0;
  fill: var(--color-primary);
  margin-top: 0.5rem;
}

.dropdown__backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1500;
}

.dropdown__content {
  z-index: 2000;
  position: absolute;
  top: 4.5rem;
  left: 0;
  text-align: center;
  display: inline-block;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.13);
  background: white;
  width: 18rem;
  margin-left: -35px;
}

.dropdown__content::after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.dropdown__link {
  display: block;
  text-decoration: none;
  color: var(--color-black);
  font-weight: 400;
  font-size: 1.3rem;
  padding: 1rem;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
  /* margin: 0 1rem; */
}

.dropdown-border-custom {
  width: 90%;
  text-align: center;
  margin: auto;
  border: none;
  background-color: #afafaf;
  color: #afafaf;
  height: 0.5px;
}

.dropdown-not-selected {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.3px;
}

.light-blue-dropdown{
  color: #068dc9;
}
.light-blue-dropdown .dropdown__icon{
  fill: #068dc9;
}
/* .dropdown__link:not(:last-child) {
  border-bottom: solid 1px var(--color-grey-lightest);
} */

.dropdown__link:hover {
  background-color: var(--color-primary-light);
  border-radius: 1rem;
  color: var(--color-white);
}

/* FOOTER */
.location-footer {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-footer__text {
  font-size: 1.3rem;
  letter-spacing: -0.35px;
}

.location-footer__btn {
  border: none;
  background: none;
  padding: 1rem;
}

.location-footer__btn--back {
  fill: var(--color-grey-light);
}

.location-footer__btn--forward {
  fill: var(--color-primary);
}

@media only screen and (min-width: 768px) {
  .map {
    width: 60%;
    float: right;
  }

  .list-location {
    width: 40%;
    float: left;
    overflow-y: auto;
    height: 1000px;
    padding: 2rem;
  }
}

@media screen and (max-width: 767px) {
  body {
    margin-right: 20px;
    margin-left: 20px;
  }
  .map {
    display: none !important;
  }

  .list-location {
    width: 100%;
    overflow-y: auto;
    height: 1000px;
    padding: 1rem;
  }
}

@media screen and (max-width: 1110px) {
  body {
    margin-right: 0px;
    margin-left: 0px;
  }

  .searchBarText {
    display: none;
  }

  .tracking-bar__search-btn {
    width: auto;
  }

  .dropdown__content {
    margin-left: 0px;
  }

  .dropdown__content::after{
    left: 42%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 908px) {
  .tracking-bar__input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
  }
  .tracking-bar__input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
    color: transparent;
  }
  .tracking-bar__input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
  }
  .tracking-bar__input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
  }
}
